@use '../utils/variables' as *;

.block {
  display: grid;
  grid-template-rows: 1fr 4fr;

  border-radius: 1.1rem;

  background-color: $clr-primary-light-red-work;

  &__image {
    background-color: $clr-primary-light-red-work;
    background-image: url(/images/icon-work.svg);
    background-repeat: no-repeat;
    background-position: right 15px top -15px;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__content {
    background-color: $clr-neutral-dark-blue;

    padding: 2rem;

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: $gap-minus-5;

    cursor: pointer;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: $fs-titles;
    font-weight: $fw-500;
  }

  &__ellipsis {
    cursor: pointer;

    &:focus,
    &:hover {
      fill: red;
    }
  }

  &__current {
    font-size: 3.6rem;
    font-weight: $fw-300;
  }

  &__prev {
    font-size: $fs-root;
    color: $clr-neutral-pale-blue;
    font-weight: $fw-300;
  }
}

@media screen and (max-width: 750px) {
  .block {
    &__time {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: $gap-root;
    }

    &__current {
      font-size: 3rem;
    }
  }
}
