@use '../utils/variables' as *;
@use '../base/topography' as *;

.block {
  display: grid;
  grid-template-rows: 1fr 4fr;

  border-radius: 1.1rem;

  &__image {
    background-repeat: no-repeat;
    background-position: right 15px top -15px;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  &__content {
    background-color: $clr-neutral-dark-blue;

    padding: 2rem;

    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: $gap-minus-5;

    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $clr-neutral-desaturated-blue;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    @include font-title-bold;
  }

  &__ellipsis {
    cursor: pointer;

    &:focus,
    &:hover {
      fill: red;
    }
  }

  &__current {
    @include font-current-regular;
  }

  &__prev {
    @include font-prev-regular;
  }
}

@media screen and (max-width: 750px) {
  .block {
    &__time {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: $gap-root;
    }

    &__current {
      font-size: 3rem;
    }
  }
}
